<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="static/index.css" />
<!--    <script src="./scripts/chat.js"></script>  -->
    <title>Scott's Chat App</title>
  </head>
  <body>
    <div id="main">
      <section class="flex-container">
        <div id="chatWindow">
            {% for msgObj in messages %}
                <p class = msgObj>
                    {{ msgObj.timestamp }}
                    <br>{{ msgObj.message }}<br>
                </p>
            {% endfor %}
        </div>
          <!-- change 'localhost' to ec2 public IP -->
        <form action = "http://localhost:5000/" method = "post" id="newMessageForm">
            <p><textarea rows="3" type="text" name = "message" id="newMessageWindow" placeholder="Type message" required></textarea></p>
            <p><input type="submit" id="submit" value="Submit"></p>
        </form>
      </section>
    </div>
  </body>
</html>